{{ if .IsNamedParams }}
	<a href="{{ if .Get "src" }}{{ .Get "src" }}{{ end }}" class="{{ if .Get "class" }}{{ .Get "class" }}{{ else }}fancybox{{ end }}" title="{{ if .Get "title" }}{{ .Get "title" }}{{ end }}">
		<img src="{{ if .Get "src" }}{{ .Get "src" }}{{ end }}" alt="{{ if .Get "title" }}{{ .Get "title" }}{{ end }}" />
	</a>
{{ else }}
	<a href="{{ .Get 0 }}" class="fancybox" {{ if len .Params | eq 3 }}title="{{ .Get 2 }}"{{ end }}>
		<img src="{{ .Get 1 }}" {{ if len .Params | eq 3 }}alt="{{ .Get 2 }}"{{ end }} />
	</a>
{{ end }}

